body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* .name {
  display: inline-block;
  float: none;
} */

nav {
  display: inline-block;
  list-style: none;
  background-color: #b8b8b8;
  text-align: right;
}

/* .nav {
  background-color: #b8b8b8;
  color: #007bff;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
} */

/* .nav li {
  display: inline-block;
  padding-right: 50px;
} */

ul {
  padding: 0px;
  margin: 0px;
}

.header-container li a {
  text-decoration: none;
  color: white;
}

.name {
  color: #007bff;
}

.nav li a:hover {
  color: #007bff;
}
